body{
    background: rgb(80,41,64);
    background: linear-gradient(90deg, rgba(80,41,64,1) 0%, rgba(253,29,112,1) 52%, rgba(247,124,62,1) 98%);
    font-family: "Quicksand", sans-serif;
    font-size: medium;
}
.beatbox{
    height: 200px;
border-radius: 10px;
border:double chartreuse;
align-items: center;
}
.glitch{
    height: 200px;
    border-radius: 15px;
    border:double chartreuse;
}
.intro{
    background-color: rgb(94, 161, 27);
}
.redes{
    background-image: url("https://media.es.wired.com/photos/64b6b0d8532fc59e0e8d51af/16:9/w_2560%2Cc_limit/YouTube-Premium-Perks-Gear-Alamy-2F8A813.jpg");
    font-size: larger;
    color: chartreuse;
}
h2{
    text-align: ceinter;
    color: chartreuse;
}
.imagenes{
   text-align: center;
}
